{% extends "base.html" %}

{% block content %}
<div class="container mx-auto py-12">

     <!-- Search Form -->
     <form method="GET" action="{% url 'article_list' %}" class="mb-8 max-w-lg mx-auto flex items-center bg-white shadow-lg rounded-full overflow-hidden">
        <input 
            type="text" 
            name="q" 
            id="search-input"
            placeholder="Search articles..." 
            class="w-full p-4 text-gray-700 focus:outline-none" 
            value="{{ request.GET.q }}">
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full transition duration-300 focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M11 19a8 8 0 100-16 8 8 0 000 16z"></path>
            </svg>
        </button>
    </form>

    {% if request.GET.q %}
    <h2 class="text-xl font-semibold mb-4 text-center">Results for "{{ request.GET.q }}"</h2>
    {% endif %}


    <!-- Articles Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for article in page_obj %}
            <div class="bg-white shadow-lg rounded-lg p-6 transition transform hover:scale-105">
                <h2 class="text-xl font-semibold mb-2">
                    <a href="{% url 'article_detail' article.id %}" class="text-blue-500 hover:underline">{{ article.title }}</a>
                </h2>
                <p class="text-gray-500 mb-4">Published on {{ article.created_at }}</p>
                <p class="text-gray-700">{{ article.content|truncatewords:20 }}</p>
            </div>
        {% empty %}
            <p>No articles found.</p>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="mt-12 flex justify-center">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="bg-gray-200 px-4 py-2 mx-1 rounded hover:bg-gray-300">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-200 px-4 py-2 mx-1 rounded hover:bg-gray-300">Previous</a>
        {% endif %}
        <span class="bg-blue-500 text-white px-4 py-2 mx-1 rounded">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="bg-gray-200 px-4 py-2 mx-1 rounded hover:bg-gray-300">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-gray-200 px-4 py-2 mx-1 rounded hover:bg-gray-300">Last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
